body {
	background-image: url(images/london-hdr-wallpapers_34631_1024x768.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	text-align: center;
}

.content{
	border: 3px solid black; 
	background: white; 
	height: auto;
	width: 50%;
	text-align: center; 
	margin-left: auto; 
	margin-right: auto;
}

.navigationprofile{
float: left; 
}


.socialamedier {

	display: inline; 
	padding: 20px;
}

nav ul {
	list-style: none;
	overflow: hidden; 
	position: relative; 
	margin: 10px; 
	
}

nav ul li {
 text-align: center;
}

nav ul li a {
	display: inline-block;  
}

nav ul li:nth-child(1) a:hover{
	content: url(images/hometext.png);
}

nav ul li:nth-child(2) a:hover{
content: url(images/portfoliotext.png);
}

nav ul li:nth-child(3) a:hover{
	content: url(images/aboutmetext.png);
}

nav ul li:nth-child(4) a:hover {
	content: url(images/contacttext.png);
}

nav ul li:nth-child(5) a:hover {
	content: url(images/blogtext.png); 
}